{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="NETRYBE technology : software development . data science" />
	
	<!-- OG -->
	<meta property="og:title" content="NETRYBE tecnology " />
	<meta property="og:description" content="NETRYBE technology" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>NETRYBE </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
	<!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header ZONE==== -->


	{% include  'header.html' %}
    
    <!-- Header Top END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="section-area section-sp1 m-b100 ovpr-light bg-fix online-cours" style="background-image:url({% static 'assets/images/codinglady.jpg' %}); height=900px;">
				<div class="container">
					<div class="row">
						<div class="col-md-12 m-t20 text-center text-white">
							<h2>A Trybe of solution</h2>
							<h5> we NETRYBE - making the changes code on code</h5>
							<h6>Levearge on technology and deliver amazing solution</h6>
							<!--<form class="cours-search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="What do you want to learn today?	">
									<div class="input-group-append">
										<button class="btn" type="submit">Search</button> 
									</div>
								</div>
							</form>-->
						</div>
					</div>
					<div class="mw900 m-a60">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-desktop"></i></h3>
									</div>
									<span class="cours-search-text">Software Dev.</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-user"></i></h3>
									</div>
									<span class="cours-search-text">Talent Training.</span>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="cours-search-bx m-b30">
									<div class="icon-box">
										<h3><i class="ti-bar-chart-alt"></i></h3>
									</div>
									<span class="cours-search-text">Data science</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			      
			<!-- WELCOME -->

            <div class="section-area bg-gray section-sp2 choose-bx">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx text-center">
                            <h2 class="title-head text-uppercase m-b0"><span>We're set to raise   </span> IT Giants</h2>
                            <p>welcome to the  Institute</p>
                        </div>
                        <div class="col-lg-8 offset-2"><h5>If you are seeking to start,
                         grow or build a career in tech, we have you covered. At Fitzzy,
                          we focus on industry-ready skills, 
                        prepare our students for the future of work while connecting
                         them to top jobs in Nigeria and around the world.

                            </h5>
                        </div>
                    </div>

                </div>
            </div>
			<!-- WELCOME-->


			 <!-- Our Story ==== -->
			
			<!-- Our Story END ==== -->



<!-- WHAT WE DO -->

<div class="section-area section-sp2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading-bx">
				<h2 class="title-head m-b0">Our services <span>simplifies</span></h2>
				<p class="m-b0">our culture speaks centric solutions  </p>
			</div>
		</div>
		<div class="row">
		<div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/lapcoding.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-desktop"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Software Development  </a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-certificate"></i> powering solution with code</a></li>

							</ul>
							<p>We train coporate staff  of organizations to meet the latest 
							demand of a digital sklled work force at a very affordable 
							rate  </p>
							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/friendscode.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-blackboard"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Talent training</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-clock-o"></i> indepth LIVE classes</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> LIVE</a></li>
							</ul>
							<p>Irrespective of location ant time, we afford people an opportunity 
							to join the digital train via our virtual live classes</p>

							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/bi.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-stats-up"></i></div>
								<div class="event-month"></div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">AI , Data science Research</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-clock-o"></i> interesting hands-on</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> Onsite</a></li>
							</ul>
							<p>with our available topnotch facilities we offer onsite training 
							for people who reside within our location </p>
							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/robotkids.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-book"></i></div>
								<div class="event-month"> </div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Nimbly school coding program</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-clock-o"></i> interesting hands-on</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> Onsite</a></li>
							</ul>
							<p>with our available topnotch facilities we offer onsite training 
							for people who reside within our location </p>

							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>


			<div class="item">
				<div class="event-bx">
					<div class="action-box">
						<img src="{% static 'assets/images/biz.jpg' %}" alt="">
					</div>
					<div class="info-bx d-flex">
						<div>
							<div class="event-time">
								<div class="event-date"><i class="ti-bar-chart-alt"></i></div>
								<div class="event-month"> </div>
							</div>
						</div>
						<div class="event-info">
							<h4 class="event-title"><a href="#">Business intelligence</a></h4>
							<ul class="media-post">
								<li><a href="#"><i class="fa fa-clock-o"></i> interesting hands-on</a></li>
								<li><a href="#"><i class="fa fa-map-marker"></i> Onsite</a></li>
							</ul>
							<p>with our available topnotch facilities we offer onsite training 
							for people who reside within our location </p>

							<div class="icon-box">
										
								<a href="#" class="btn">Read More</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</div>


<!-- END OF WHAT WE DO -->






        <!-- Main Slider -->
		<div class="content-block">
            <!-- our services -->


			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" 
			style="background-image:url({% static 'assets/images/bg2.jpg' %});">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>learn a new tech skill <br> your time</h2>
								<h4> switch to tech with a skill </h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<a href="#" class="btn button-md">Join Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Form END -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div class="col-lg-6 m-b30">
							<h2 class="title-head ">why choose us  <br> <span class="text-primary"> on your time</span></h2>
							<h4> we are solution driven </h4>
						
							<a href="#" class="btn button-md">start now</a>
						 </div>
						 <div class="col-lg-6">
							 <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">integrity</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Topnotch Tech</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Innovative</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png" alt=""></a> 
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">customer centred</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			
			<!-- Contact -->
			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" 
			style="background-image:url({% static 'assets/images/bg2.jpg' %});">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>Do you need any of our services <br> </h2>
								
								<p>we had love to know </p>
								<a href="#" class="btn button-md"><i class="fa fa-whatsapp" 
									aria-hidden="true"></i> chat</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END -->
			
        </div>
		<!-- contact area END -->
    </div>
    <!-- FOOTER ZONE -->
	{% include 'netrybe/footer.html' %}




    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->

<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>

<!-- Revolution JavaScripts Files -->
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

</body>

</html>
